<p>
  Cloud is the future of hosting whether you like it or not and trust it or not! While Azure and AWS made the cloud adoption easier, they are continuously moving the goal
  posts to serve their clients better. For us, Developers/Evangelists, the possibilities are unlimited but things can get spoiled quickly unless we adhere to best practices.
  As I start the journey to cloud, I would be building proof-of-concept applications and deploying them to Azure following the best practices.
  You are welcome to visit my <a href="//blogs.aspnet4you.com" target="_blank">Blogs</a> and suggest your thoughts.
  </p>
  <p>
    azure.aspnet4you.com:
    <br />
    While I could have built this portal with ASP.Net Core/MVC, I decided to use Angular 5. This application is built with angular-cli and deployed to IIS.
    The address list displayed here is for demo. Don't try to dial any of the phone number! You can click an address item to see and update the details as you wish!!.
    
  </p>
  <app-address-list></app-address-list>
  <p>
    You can find <a href="https://github.com/aspnet4you/azure-aspnet4you" target="_blank">source codes</a> of this site in GitHub. Would like to know how this application is being built?
    Visit the blogs and read the following posts-
    <br />
    <a href="http://blogs.aspnet4you.com/2017/11/17/build_and_deployment_of_angular5_app/" target="_blank">Build and Deployment of Angular 5 app with Angular CLI and Visual Studio 2017</a>
    <br />
    <a href="http://blogs.aspnet4you.com/2017/11/19/deploy-angular5-app-in-azure-app-services/" target="_blank">Build and Deploy Angular5 App in Azure App Services all from VSTS Online</a>
    <br />
    <a href="http://blogs.aspnet4you.com/2017/11/16/add-custom-domain-in-azure-app-service/" target="_blank">Add Custom Domain in Azure App Service</a>
  </p>
