<p>
    Cloud is the future of hosting like it or not and trust it or not! While Azure and AWS made the cloud adoption easier, they are contineously moving the goal posts to serve their clients better.
    For us, Developers/Evangelists, the possiblities are unlimited but things can get spoiled quickly unless we ahear to best practices. As I start the journey to cloud, I would be building proof-of-concept components and deploying them
    to Azure following the best practices. You are welcome to visit my <a href="//blogs.aspnet4you.com" target="_blank">Blogs</a> and suggest your thoughts.
  </p>
  <p>
    azure.aspnet4you.com:
    <br />
    While I could have built this portal with ASP.Net Core/MVC, I decided to use Angularjs 4. This application is built with angular-cli and deployed to IIS.
    The address list displayed here is for demo. Don't try to dial any of the phone number! You can click an address item to see and update the details as you wish!!.
  </p>
  <app-address-list></app-address-list>
