<p class="special-1">
  Stock Quote (StockQ) is a live demo of Azure Functions. We are going to display quotes received from Azure Function.
  It’s likely that you don’t know all the symbols and we are going to demo lookup feature. Lookup calls another Azure Function to get all the symbols.
  In addition, we are going to see some Angular cool features like custom FilterPipe, EventEmitter, etc. Lookup would allow you to filter the list and let you pick a symbol.
  As you pick symbol from the list, the child (dialog) component sends message to parent component and fill the symbol for you! Behind the scene Azure Functions are using data provided
  by 3rd party (thanks to iextrading.com for providing free but real-time service). Enjoy the live demo!
</p>
<p class="special-1">
  Enter Stock Symbol(<a (click)="showDialog = !showDialog" style="cursor: pointer; color:coral">lookup</a>):
</p>

<input type='text' width="10" [(ngModel)]="defaultSymbol" #symbolName />
<button (click)="getStockQuotes(symbolName.value)">Get Quotes</button>
<app-dialog [(visible)]="showDialog" (messageEvent)="receiveMessage($event)" (visibleChange)="visibleChange($event)">
  <p class="special-1">Search and Select Company</p>
</app-dialog>

<div *ngIf="myStockQuotes">
  <p>{{myStockQuotes.companyName}} ({{myStockQuotes.symbol}})</p>
  <table *ngIf="myStockQuotes">
    <thead>
      <tr>
        <th>Item</th>
        <th>Quote</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>symbol</td>
        <td>{{myStockQuotes.symbol}}</td>
      </tr>
      <tr>
        <td>companyName</td>
        <td>{{myStockQuotes.companyName}}</td>
      </tr>
      <tr>
        <td>sector</td>
        <td *ngIf="myStockQuotes.sector">{{myStockQuotes.sector}}</td>
      </tr>
      <tr>
        <td>latestPrice</td>
        <td *ngIf="myStockQuotes.latestPrice">{{myStockQuotes.latestPrice | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>

      <tr>
        <td>latestTime</td>
        <td *ngIf="myStockQuotes.latestTime">{{myStockQuotes.latestTime}}</td>
      </tr>
      <tr>
        <td>latestUpdate</td>
        <td *ngIf="myStockQuotes.latestUpdate">{{myStockQuotes.latestUpdate | date:'MM-dd-yyyy hh:mm:ss a'}}</td>
      </tr>
      <tr>
        <td>open</td>
        <td *ngIf="myStockQuotes.open">{{myStockQuotes.open | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>openTime</td>
        <td *ngIf="myStockQuotes.openTime">{{myStockQuotes.openTime |date:'MM-dd-yyyy hh:mm:ss a'}}</td>
      </tr>
      <tr>
        <td>close</td>
        <td *ngIf="myStockQuotes.close">{{myStockQuotes.close | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>closeTime</td>
        <td *ngIf="myStockQuotes.closeTime">{{myStockQuotes.closeTime |date:'MM-dd-yyyy hh:mm:ss a'}}</td>
      </tr>
      <tr>
        <td>high</td>
        <td *ngIf="myStockQuotes.high">{{myStockQuotes.high | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>low</td>
        <td *ngIf="myStockQuotes.low">{{myStockQuotes.low | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>week52High</td>
        <td *ngIf="myStockQuotes.week52High">{{myStockQuotes.week52High | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>week52Low</td>
        <td *ngIf="myStockQuotes.week52Low">{{myStockQuotes.week52Low | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>

      <tr>
        <td>marketCap</td>
        <td *ngIf="myStockQuotes.marketCap">{{myStockQuotes.marketCap | currency:'USD':'symbol':'1.2-2'}}</td>
      </tr>
      <tr>
        <td>peRatio</td>
        <td *ngIf="myStockQuotes.peRatio">{{myStockQuotes.peRatio}}</td>
      </tr>
      <tr>
        <td>change</td>
        <td *ngIf="myStockQuotes.change">{{myStockQuotes.change}}</td>
      </tr>
      <tr>
        <td>changePercent</td>
        <td *ngIf="myStockQuotes.changePercent">{{myStockQuotes.changePercent}}</td>
      </tr>
    </tbody>
  </table>
</div>
