<p>
  api.aspnet4you.com:
  <br />
  Angular 5 makes nice UI but it can't operate without data! RESTFul API is the future. I am using ASP.NET MVC to build the API Application. You will experience the demo of real-world oAuth2 flow
  on this page. Even though I would be demonstrating Authorization Code flow of oAuth2 but the pattern I am using is unique for Angular App. The actual oAuth2 flow starts and ends on the
  server-side (ASP.NET) and you would never find oAuth2 clientid and client secrete anywhere in Angular app!
  You can visit api site at <a href="//api.aspnet4you.com" target="_blank">api.aspnet4you.com</a> and/or find live API documentations at
  <a href="//api.aspnet4you.com/swagger" target="_blank">api.aspnet4you.com/swagger</a>.
</p>
<p>
  The address book that you have seen on the home page can be accessed by anyone. We are going to show the same address book on this page but you must login before you can call the api.
  Click the <a href="/oauth">oAuth</a> menu at the top and login to 3rd party Identity Provider (LinkedIn at this time but we plan to add Google and Facebook later). You can access the protected (by Jwt oAuth Token) api
  once you login successfully.
</p>
<app-address-list-protected></app-address-list-protected>
<p>
  <a href="//api.aspnet4you.com/swagger" target="_blank"><img style="width: 75%" src="../assets/images/api-aspnet4you.PNG" /></a> 
</p>
